#忽略所有内容
*

#忽略.gitignore文件
!.gitignore

#不忽略atk_mp135/目录
!atk_mp135/

#不忽略atk_mp135/Drivers/目录
!atk_mp135/Drivers/

#不忽略Drivers下所有内容
!atk_mp135/Drivers/**

#忽略Drivers目录下的编译生成文件,包含子文件
atk_mp135/Drivers/**/*.ko
atk_mp135/Drivers/**/*.o
atk_mp135/Drivers/**/*.mod
atk_mp135/Drivers/**/*.order
atk_mp135/Drivers/**/*.symvers
